.profilebutton {
    margin-left: 10px;
    margin-bottom: 10px;
}

.acceptbutton {
    margin-bottom: 10px;
    margin-left: 5px;
}

.productimg{
    margin-right: 7%;
}

.productinput{
    width: 70%;
    float: right;
}

.productbutton{
    float: right;
}