.cartitemrow {
    border: 1px solid black;
}

.cartitemamount {
}

.cartitemname {

}

.cartitemname {
    padding-left: 5px;
}

.carttable {
    width: 100%;
}

.productbutton {
    padding: 3px;
    margin: 5px;
    width: 28px;
}

#totalprice{
    text-align: right;
}