.nopadding-right{
    padding-right: 0px;
}

.nopadding-left{
    padding-left: 0px;
}

.width100{
    width: 100%;
}

.width50px{
    width: 50px !important;
}

@media screen and (max-width: 768px)
{
    .pull-right
    {
        float: left !important;
        width: 100%;
    }
}

.loginerror {
    width: 100%;
    text-align: center;
    color: red;
}

.form-signin input[type="password"] {
    margin-bottom: 5px;
}

.form-signin input[type="email"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}