.container{
    margin-top:20px;
}

table {
  	width: 50%;
  	border-spacing: 0;
  	border-radius: 20px;
}

table.sortable {
    margin-left:auto; 
    margin-right:auto;
 }

th, td {
  	padding: 5px;
  	text-align: left;
  	border: 1px solid #ccc;
}

tbody {
    color: #333;
    background-color: #eee;
    border-color: #101010; 
}

thead {
	color: #9d9d9d;
    background-color: #222;
    border-color: #101010; 
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

thead tr:first-child th:first-child {
    border-radius: 0.6em 0 0 0;
}

thead tr:first-child th:last-child {
    border-radius: 0 0.6em 0 0;
}

tbody tr:last-child td:first-child {
    border-radius: 0 0 0 0.6em;
}

tbody tr:last-child td:last-child {
    border-radius: 0 0 0.6em 0;
}
