.ordertable {
	margin-left:auto; 
    margin-right:auto;
    width: 110%; 
}

.orderitemrow {
	border: 1px solid black;
}

.orderitemname {
    padding: 5px;
}

.orderpicturename {
    padding: 5px;
}

.ordercosts {
	padding-top: 5px;
	padding-bottom: 5px;
}

.ordertotal {
	border-top: 1px solid black;
	padding-top: 5px;
}

.btnPay {
	padding-top: 50px;
	width: 30%;
	margin-left: 80%;
}

