#image {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.picturename {
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    padding: 0px;
    padding-bottom: 10px;
}

.picturename .btn {
    font-size: 24px;
    font-weight: bold;
}

.subtext {
    font-size: 18px;
    margin-left: 5px;
}

html, body {
    height: 100%;
}

.footer {
    bottom: 0;
    background-color: rgba(155, 155, 155, 0.5);
    width: 100%;
}

.footer .btn {
    margin: 10px;
    opacity: 1;
}

.divborder {
    margin-bottom: 60px;
}

.productname {
    float:left;
    font-size: 16px;
    height:26px;
    line-height: 26px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
}

.productprice {
    float:right;
    font-size: 16px;
    line-height: 26px;
    display: table-cell;
    vertical-align: middle;
    margin: 0px;
}

.productamount {
    float:left;
    width: 36px;
    margin-right: 5px;
    text-align: center;
}

.divwithborder {
    border-bottom: 1px solid black;
}

.panel {
    margin-bottom: 70px;
}

.h1name {
    text-align: center;
    margin: 0px;
    font-size: 64px;
    font-weight: bold;
}

.addtocartbutton {
    margin-top: 15px;
}

#addToCart a{
    color: white;
    text-decoration: none;
}

#addToCart a{
    color: white;
    text-decoration: none;
}

.filters {
    margin-bottom: 10px;
}

.filterform {
    margin-left: 5px;
}

.sepia {
    filter: sepia(100%);
}

.bw {
    filter: grayscale(50%);
}

.invert {
    filter: invert(100%);
}

.darken {
    filter: brightness(50%);
}

.blur {
    filter: blur(2px);
}