@(user: User, orderList: List[Order], itemList: List[OrderItem], cartList: List[CartItem])

@main("Account") {

    <link href="@routes.Assets.versioned("stylesheets/account.css")" rel="stylesheet">
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/account.js")"></script>
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    <div class="container">
        <div>
            <div class="profilePicture .col-md-6">
                <a href=@routes.AccountController.changeAvatar()><img src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/matureman1-128.png" class="img-rounded" alt="Profile picture" width="120" height="120"></a>
                <h1>@user.getName</h1>
            </div>

            <div class="orderContainer col-md-4">
                <h3>@Messages("account.orders")</h3>
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseOrder">@Messages("account.showorders")</a>
                            </h4>
                        </div>
                        <div id="collapseOrder" class="panel-collapse collapse in">
                            <div class="orderContainer#1">

                            @if(orderList.size() > 0) {
                                @for(order <- orderList) {
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#collapseOrder@order.getId">Order @order.getSimpleDate</a>
                                            </h4>
                                        </div>
                                    </div>
                                    <div id="collapseOrder@order.getId" class="panel-collapse collapse">
                                    @if(itemList.size() > 0) {
                                        @for(orderItem <- itemList) {
                                            @if(orderItem.getOrderid == order.getId) {
                                                <div class="panel-body">Picture: @orderItem.getPictureName <br>
                                                    @for(oproduct <- orderItem.getProducts) {
                                                        Product: @oproduct.getName (Amount: @oproduct.getAmount)<br>
                                                    }
                                                    Price: €@orderItem.getTotalPrice</div>
                                            }
                                        }
                                    }
                                    </div>
                                }
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="personalDetailsContainer col-md-4">
            <h3>@Messages("account.details")</h3>

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapsePersonalDetails">@Messages("account.showdetails")</a>
                        </h4>
                    </div>
                    <form method="POST" action="@routes.AccountController.updateAccountInfo()" enctype="multipart/form-data">
                        <div id="collapsePersonalDetails" class="panel-collapse collapse in">
                            <div class="panel-body">
                                @Messages("account.changesettings") <br>
                                <select class="form-control" id="sel1" name="infoSelect" onchange="controlSelection();">
                                    <option value="email">@Messages("account.email")</option>
                                    <option value="name">@Messages("account.displayname")</option>
                                    <option value="password">@Messages("account.password")</option>
                                    <option value="zipcode">@Messages("account.zipcode")</option>
                                    <option value="adres">@Messages("account.address")</option>
                                    <option value="phonenr">@Messages("account.phonenumber")</option>
                                </select>

                                <input type="text" class="form-control" id="inputSelect1" name="inputSelect1">
                                <input type="text" class="form-control" id="inputSelect2" name="inputSelect2">
                            </div>
                            <button type="submit" class="btn btn-primary btnaccount">@Messages("account.savechanges")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <form>
        @if(user.getUserType.getValue >= 2) {
            <div class="uploadContainer col-md-4">
                <h3>@Messages("account.uploads")</h3>

                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapseUploadDetails">@Messages("account.uploaddetails")</a>
                            </h4>
                        </div>
                        <div id="collapseUploadDetails" class="panel-collapse collapse in">
                            <div class="panel-body"> <a href="@routes.UploadController.uploads()">
                            @Messages("account.uploadhistory")</a></div>
                            <div class="panel-body"> <a href="@routes.AlbumsController.albums()">
                            @Messages("account.createdalbums")</a></div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </form>
    </div>
}