@(acceptedPhotohgraphers: List[User], pendingPhotohgraphers: List[User])

@main("Admin") {
    <script src="@routes.Assets.versioned("javascripts/jquery.js")"></script>
    <div class="myCart col-md-5 col-md-offset-2">
        <div class=panel-group" id="accordion">
            <h2>Existing photographers</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#acceptedPhotographers">
                            Show photographers</a>
                    </h4>
                </div>
                <div id="acceptedPhotographers" class="panel-collapse collapse">
                    @for(user <- acceptedPhotohgraphers) {
                        <div id="pic001" class="panel-body photographer"><img src="http://static4.fjcdn.com/comments/Gt+liek+omg+why+did+this+get+notes+_2920236a3bc973de27a119933a63920f.png" width="100" height="100"> <b>@user.getFirstName @user.getLastName</b></div>
                    }
                    <button type="button" class="btnPhotographer btn btn-primary">Check profile</button>
                </div>
            </div>
            <h2>Applied photographers</h2>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#appliedPhotographers">
                            Show applied photographers</a>
                    </h4>
                </div>
                <div id="appliedPhotographers" class="panel-collapse collapse">
                    <form method="POST" action="@routes.AdminController.accept()">
                    @for(user <- pendingPhotohgraphers) {
                        <div class="panel-body photographer"><input type="hidden" name="id" class="photographerid" disabled="disabled" value="@user.getId"/><img src="http://i3.kym-cdn.com/photos/images/original/000/848/178/9f9.png" width="100" height="100"> <b>@user.getFirstName @user.getLastName</b></div>
                    }
                    <button type="button" class="btnCheckProfile btn btn-primary">Check profile</button>
                    <input type="submit" class="btnAcceptPhotographer btn btn-primary" href="@routes.AdminController.accept()" value="Accept photographer"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
}