@(cartItems: List[CartItem])

    @main("Cart") {
        <link href="@routes.Assets.versioned("stylesheets/cart.css")" rel="stylesheet">
        <div class="col-md-6 col-md-offset-3">
            <h2>Cart</h2>
            @if(cartItems.size() < 1) {
                Your cart is empty
            } else {
                <table class="carttable">
                @for(cartItem <- cartItems) {
                    @for(product <- cartItem.getProducts) {
                        <tr class="cartitemrow">
                            <td class="cartitemname">
                                <b>@cartItem.getName:</b> @product.getName
                            </td>
                            <td class="cartitemamount pull-right">
                                € @product.getTotalPrice
                                <a class="btn btn-default productbutton" href="@routes.CartController.changeAmount(product.getID(), cartItem.getPictureId(), false)">-</a>
                                <label id="label0">@product.getAmount</label>
                                <a class="btn btn-default productbutton" href="@routes.CartController.changeAmount(product.getID(), cartItem.getPictureId(), true)">+</a>
                            </td>
                        </tr>
                    }
                }
                </table>
            }
            <div id="costs">
            </div>
            <div>
                <label>Total price: &#8364; @CartController.countTotalPrice()</label>
            </div>
            <button type="button" class="btn btn-primary btn-lg btn-block">order now</button>
        </div>

            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="@routes.Assets.versioned("javascripts/ie10-viewport-bug-workaround.js")"></script>

    }
