@*
* This template takes a single argument, a String containing a
* message to display.
*@
@* @(message: String) *@

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@import java.util
@(photos: List[Photo])

@main("Welcome to Photys") {
    <div class="row">
    @for(photo <- photos) {
        <div class="col-sm-6 col-md-4">
            <a href="/preview?id=@photo.getId" class="thumbnail-click">
                <div class="thumbnail">
                    <div class="imagecontainer">
                        <img src="@routes.HomeController.renderPhoto(photo.getFileLocation)"
                        alt="@photo.getName">
                    </div>
                    <div class="caption">
                        @if(photo.getName != "") {
                            <h3>@photo.getName</h3>
                        }
                        <p>@photo.getPhotographer.getFirstName</p>
                    </div>
                </div>
            </a>
        </div>
    }
    </div>
}