@main("Login") {

    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    <link rel="shortcut icon" href="@routes.Assets.versioned("images/camera_logo.png")">
    <div class="container">
        <form method="POST" class="form-signin" action="@routes.LoginController.login()">
            <h2 class="form-signin-heading">@Messages("login.title")</h2>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="@Messages("login.email")" required autofocus>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="@Messages("login.password")" required>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="@Messages("login.signin")"/>
        </form>
    </div> <!-- /container -->
}
