@(combinationWrong : Boolean = false)

@main("Login") {

    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    <div class="container">
        <form method="POST" class="form-signin" action="@routes.LoginController.login()">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" required autofocus>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in"/>
        </form>
        @if(combinationWrong) {
            <p class="loginerror">Your email address or password is wrong!</p>
        }
    </div> <!-- /container -->
}
