@import java.util
@import controllers.routes
@(photos: util.List[Photo])

@main("MyUploads") {
    <link rel="shortcut icon" href="@routes.Assets.versioned("images/camera_logo.png")">
    <script src=@routes.Assets.versioned("javascripts/sorttable.js")></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/myuploads.css")" />
    <div class="container">
            <div class="table-responsive">
                <table class="sortable">
                    <thead>
                        <tr>
                            <th>@Messages("myuploads.name") </th>
                            <th>@Messages("myuploads.albumname") </th>
                            <th>@Messages("myuploads.price") </th>
                            <th>@Messages("myuploads.date") </th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(photo <- photos) {
                            <tr>
                                <td>@photo.getName</td>
                                <td>@photo.getAlbumName</td>
                                <td>€ @photo.getPrice</td>
                                <td>@photo.getDate</td>
                                <td><a href= "@routes.UploadController.deletePhoto(photo.getId().toString())" class="btn btn-default">Remove</a></td>
                            </tr>
                    }
                    </tbody>
                </table>
            </div>
    </div>
}

