@import java.util
@(photos: util.List[Photo])

@main("MyUploads") {
    <link rel="shortcut icon" href="@routes.Assets.versioned("images/camera_logo.png")">
    <script src=@routes.Assets.versioned("javascripts/sorttable.js")></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/myuploads.css")" />
    <div class="container">
        <form method="GET" action="@routes.UploadController.uploads()">
            <div class="table-responsive">
                <table class="sortable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Albumname</th>
                            <th>Price</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(photo <- photos) {
                            <tr>
                                <td>@photo.getName</td>
                                <td>@photo.getAlbumName</td>
                                <td>€ @photo.getPrice</td>
                                <td>@photo.getDate</td>
                            </tr>
                    }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
}

