@(prevUrl : String, name : String, album: String, location: String)
@main("Preview") {
    <link href="@routes.Assets.versioned("stylesheets/preview.css")" rel="stylesheet">

    <div class="picturename"><h1 class="h1name">@name</h1></div>
    <img src="@routes.PictureController.renderPhoto(location)" class="imagepreview">
    <p class="subtext">by <a href="#">Photographer</a></p>
    <table class="table">
        <thead class="thead-default">
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Location</td>
                <td>Netherlands</td>
            </tr>
            <tr>
                <td>Photographer</td>
                <td>Peter</td>
            </tr>
            <tr>
                <td>Album</td>
                <td>@album</td>
            </tr>
        </tbody>
    </table>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#products">
                    Show products</a>
            </h4>
        </div>
        <div id="products" class="panel-collapse collapse">
            <div class="product panel-body divwithborder">
                <input class="productamount" type="number" min="0" value="0"> <p class="productname">Mok</p> <p class="productprice">&euro; 4,00</p>
            </div>
            <div class="product panel-body divwithborder">
                <input class="productamount" type="number" min="0" value="0"> <p class="productname">Muismat</p> <p class="productprice">&euro; 6,00</p>
            </div>
            <div class="product panel-body">
                <input class="productamount" type="number" min="0" value="0"> <p class="productname">Vlag</p> <p class="productprice">&euro; 12,00</p>
            </div>
        </div>
    </div>
    <footer class="footer navbar-fixed-bottom">
        <div class="footerdiv container">
            <a href="@prevUrl" class="btn btn-default">Back</a>
            <button class="btn btn-primary pull-right">Order</button>
        </div>
    </footer>
}