@*
* This template takes a single argument, a String containing a
* message to display.
*@
@* @(message: String) *@

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@


@* @import java.util
@  (albums: List[Album])
*@

@main("Albums") {
    <div class="row">
        <div class="col-sm-6 col-md-4">
        <h2>Your personal albums</h2>
            <p>lelelelelelelelel mememeememmemememememem dooo dodododododododo.</p>
        </div>
    </div>
}