@*
* This template takes a single argument, a String containing a
* message to display.
*@
@* @(message: String) *@

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@import java.util
@(albums: List[Album])

@main("Albums") {
    <link rel="shortcut icon" href="@routes.Assets.versioned("images/camera_logo.png")">
    <link href="@routes.Assets.versioned("stylesheets/privatealbum.css")" rel="stylesheet">
    <h2 align="center">Available albums will be displayed below</h2>
    <div class="row">
        @if(albums.size > 0) {
            @for(album <- albums) {
                <div class="col-sm-6 col-md-4">
                    <a href="/album?url=@album.getAlbumURL" class="thumbnail-click">
                        <div class="thumbnail">
                            <div class="imagecontainer">
                            @if(album.isAccessible) {
                                <img src="@routes.Assets.versioned("images/folder.png")" class="folderimage">
                            } else {
                                <img src="@routes.Assets.versioned("images/folder_private.png")" class="folderimage">
                                }
                            </div>
                            <div class="caption">
                                @if(album.toString != "") {
                                    <h3>@album.toString</h3>
                                }
                            <p>by @album.getPhotographer_name</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        } else {
        <h1 align="center">No pictures in this album</h1>
        }
    </div>
}