@main("Register") {
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/register.js")"></script>

    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    <div class="container">
        <form role="form" method="POST" class="form-signin" action="@routes.RegisterController.register()" data-toggle="validator">
            <h4 class="form-signin-heading">Enter your personal information here to register for an account.</h4>
            <div class="form-group">
                <input type="text" id="inputFirstname" name="firstname" class="form-control" placeholder="First name" required autofocus>
            </div>
            <div class="form-group">
                <input type="text" id="inputLastname" name="lastname" class="form-control" placeholder="Last name" required>
            </div>
            <div class="form-group">
                <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email adres" data-error="That email address is invalid" required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <input type="password" id="inputPassword" name="password" class="form-control" data-minlength="6" class="form-control" placeholder="Password" required>
                <div class="help-block">Minimum of 6 characters</div>
            </div>
            <div class="form-group">
                <input type="password" id="inputPassword2" name="passwordvalidation" class="form-control" placeholder="Validate password" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <input type="text" id="inputZipcode" name="zipcode" class="form-control" placeholder="Zipcode" required>
            </div>
            <div class="form-group">
                <input type="text" id="inputStreet" name="street" class="form-control" placeholder="Street" required>
            </div>
            <div class="form-group">
                <input type="text" id="inputHousenr" name="housenr" class="form-control" placeholder="House number" required>
            </div>
            <div class="form-group">
                <input type="text" id="inputPhonenr" name="phonenr" class="form-control" placeholder="Phone number" required>
            </div>
            <div class="form-group">
                <label>Register as Photographer</label>
                <input type="checkbox" name="box1" value="true">
            </div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register"/>
        </form>
    </div> <!-- /container -->
}