@*
* This template takes a single argument, a String containing a
* message to display.
*@
@* @(message: String) *@

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@import java.util
@(albums: List[models.Album])
@main("Upload") {
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    <link rel="shortcut icon" href="@routes.Assets.versioned("images/camera_logo.png")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/upload.css")" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/tagit.ui-zendesk.css")" />
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/jquery.tagit.css")" />
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-ui.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/tag-it.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/upload.js")"></script>

    <div class="container">
        <div class="row" align="center">
            <h2 align="center">Upload your picture here:</h2>
            <br>
            <form method="POST" action="@routes.UploadController.upload()" enctype="multipart/form-data">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <div class="radio">
                        <label><input type="radio" checked="true" name="rbExisting" id="rb1">
                            Add this photo to an existing album.</label>
                    </div>

                    <div class="form-group">
                        <label for="sel1">Select an album to add this picture to:</label>
                        <select class="form-control" id="sel1" name="albumSelect">
                        @for(album <- albums) {
                            <option value="@album.getID()">@album.toString()</option>
                        }
                        </select>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="radio">
                        <label><input type="radio" name="rbNew" id="rb2">Create new album to add this photo to.</label>
                    </div>

                    <div class="form-group">
                        <label for="usr">Album name:</label>
                        <input type="text" class="form-control" id="tbName" name="albumName">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Description:</label>
                        <textarea class="form-control" id="tbDesc" name="albumDescr" rows="5"></textarea>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="cb1" name="albumPrivate">Private album</label>
                    </div>
                    <div class="form-group emails-group">
                        <label for="emails">Emails (if you want to share to certain emails only):</label>
                        <input type="text" class="form-control" name="emails" id="emails">
                    </div>
                </div>
                <div class="col-md-3"></div>
                <br>
                <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <label>Name:</label>
                    <input id="tbName" type="text" class="form-control" name="tbName"/>
                    <br>
                    <label>Price: €</label>
                    <input id="tbPrice" type="number" max="9.99" min="0.01" value="1.99" step="0.01"/>

                    <br>
                    <br>

                    <div class="input-group image-preview">
                        <input type="text" class="form-control image-preview-filename" disabled="disabled">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default image-preview-clear browsebutton" style="display: none;">
                                <span class="glyphicon glyphicon-remove"></span> Clear
                            </button>
                            <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Browse</span>
                                <input type="file" accept="image/png, image/jpeg, image/gif" name="picture" />
                            </div>
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-upload"></span>
                                <span>Upload</span>
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
}