@*
* This template takes a single argument, a String containing a
* message to display.
*@
@* @(message: String) *@

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@

@import java.util
@(albums: List[models.Album])
@main("Upload") {
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/upload.css")" />
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/upload.js")"></script>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <h2>Upload your picture here:</h2>
                <form method="POST" action="@routes.UploadController.upload()" enctype="multipart/form-data">

                    <div class="radio">
                        <label><input type="radio" checked="true" name="optradio" id="rb1">Add this photo to an existing album.</label>
                    </div>

                    <div class="form-group">
                        <label for="sel1">Select an album to add this picture to:</label>
                        <select class="form-control" id="sel1">
                            @for(album <- albums) {
                                <option value="@album.getID()">@album.getName</option>
                            }
                        </select>
                    </div>

                    <div class="radio">
                        <label><input type="radio" name="optradio" id="rb2">Create new album to add this photo to.</label>
                    </div>

                    <div class="form-group">
                        <label for="usr">Album name:</label>
                        <input type="text" class="form-control" id="tbName">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Description:</label>
                        <input type="password" class="form-control" id="tbDesc">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="cb1">Private album</label>
                    </div>

                    <br>

                    <label>Price of this picture.    €</label>
                    <input id="tbPrice" type="number" value="1.99" pattern="^\d+(\.|\,)\d{2}$" step="0.1"/>

                    <br>
                    <br>

                    <div class="input-group image-preview">
                        <input type="text" class="form-control image-preview-filename" disabled="disabled">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default image-preview-clear browsebutton" style="display: none;">
                                <span class="glyphicon glyphicon-remove"></span> Clear
                            </button>
                            <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Browse</span>
                                <input type="file" accept="image/png, image/jpeg, image/gif" name="picture" />
                            </div>
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-upload"></span>
                                <span>Upload</span>
                            </button>
                        </span>
                    </div>

                </form>
            </div>
        </div>
    </div>
}