@*
* This template takes a single argument, a String containing a
* message to display.
*@
@* @(message: String) *@

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Upload") {
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/upload.css")" />
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/upload.js")"></script>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form method="POST" action="@routes.UploadController.upload()" enctype="multipart/form-data">
                    <div class="input-group image-preview">
                        <input type="text" class="form-control image-preview-filename" disabled="disabled">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default image-preview-clear browsebutton" style="display: none;">
                                <span class="glyphicon glyphicon-remove"></span> Clear
                            </button>
                            <div class="btn btn-default image-preview-input">
                                <span class="glyphicon glyphicon-folder-open"></span>
                                <span class="image-preview-input-title">Browse</span>
                                <input type="file" accept="image/png, image/jpeg, image/gif" name="picture" />
                            </div>
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-upload"></span>
                                <span>Upload</span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
}